.NavBar {
  background-color: antiquewhite;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.BookList {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.menu-1 {
  padding-right: 50px !important;
}
.imgOne {
  width: 120px;
}
.search:focus {
  box-shadow: none;
  border: 1px solid black;
  border-radius: 10px;
}
.footer {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 16px;
  background-color: black;
  color: whitesmoke;
}
.BookList h3 {
  font-size: 22px;
  font-weight: 700;
}
.BookList h4 {
  font-size: 17px;
}
.BookList h2 {
  font-weight: 700;
}
